@model MLMExchange.Models.Registration.UserModel

@if (ViewData["AsPartial"] == null || ViewData["AsPartial"] != "True")
{
  ViewBag.Title = Logic.Properties.GeneralResources.User;
  Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanel__Layout.cshtml";
}

<script data-app-script='true'>

  function ShowPaymentSystems($sellerId)
  {
    new Ext.Window({
      id: "ShowPaymentSystems__Window",
      width: 800,
      height: 600,
      modal: true,
      autoScroll: true,
      title: "@Logic.Properties.GeneralResources.PaymentSystemGroup",
      autoLoad: {
        url: "/AdminPanel//PaymentSystemGroup/Browse",
        params: { ForUserId: $sellerId },
        nocache: true,
        text: "@MLMExchange.Properties.ResourcesA.Loading",
        callback: function () {
          $.each($("#ShowPaymentSystems__Window").find("script[data-app-script='true']"), function (index, element) {
            var scriptTag = $(document.createElement('script')).text($(element).text());

            $(scriptTag).appendTo($("body"));
          });
        }
      }
    }).show();
  }
</script>



<section class="b-ui">
  <header class="b-ui__header">
    <p class="b-ui__text">@MLMExchange.Properties.ResourcesA.UserView ( @Model.Login )</p>
  </header>
  <div class="b-ui__details">

    <div class="b-ui__details__rightBlock">
      <div class="b-ui__details__rightBlock__image">
        @if (String.IsNullOrEmpty(Model.PhotoRelativePath))
        {
          <img src="/Content/images/Form/@(new MLMExchange.Lib.Image.Image("Content/images/Form/", "anonymous-user.png").Crop(150, 150).FullName)" class="login-on-block__avatar" alt="Alternate Text" />
        }
        else
        {
          <img src="/@MLMExchange.Lib.Image.Image.UploadRelativeDir/@(new MLMExchange.Lib.Image.Image(Model.PhotoRelativePath).Crop(150, 150).FullName)"
               class="login-on-block__avatar" alt="Alternate Text" />
        }
      </div>
      <div class="b-ui__details__rightBlock__likeSystem">
        <div class="b-ui__details__rightBlock__likeSystem-wrapper b-ui__details-ltext">
          <i class="b-ui__details__rightBlock__likeSystem-wrapper__icon b-ui__details__rightBlock__likeSystem-wrapper__icon__thumbs-up"></i>
        </div>
        <div class="b-ui__details__rightBlock__likeSystem__counter">
          <span class="b-ui__details__rightBlock__likeSystem__counter-text">500</span>
        </div>
        <div class="b-ui__details__rightBlock__likeSystem-wrapper b-ui__details-rtext">
          <i class="b-ui__details__rightBlock__likeSystem-wrapper__icon b-ui__details__rightBlock__likeSystem-wrapper__icon__thumbs-down"></i>
        </div>
      </div>
    </div>
    
    <div class="b-ui__details-row__name b-ui__details-row">
      <span class="b-ui__details-ltext">@Logic.Properties.GeneralResources.UserName</span>
      <span class="b-ui__details-rtext">@Model.Name</span>
    </div>

    <div class="b-ui__details-row__name b-ui__details-row">
      <span class="b-ui__details-ltext">@Logic.Properties.GeneralResources.UserSurname</span>
      <span class="b-ui__details-rtext">@Model.Surname</span>
    </div>

    <div class="b-ui__details-row__name b-ui__details-row">
      <span class="b-ui__details-ltext">@Logic.Properties.GeneralResources.UserPatronymic</span>
      <span class="b-ui__details-rtext">@Model.Patronymic</span>
    </div>

    <div class="b-ui__details-row__name b-ui__details-row">
      <span class="b-ui__details-ltext">@Logic.Properties.GeneralResources.CreationDateTime</span>
      <span class="b-ui__details-rtext">@Model.CreationDateTime</span>
    </div>

    <div class="b-ui__details-row__name b-ui__details-row">
      <span class="b-ui__details-ltext">@Logic.Properties.GeneralResources.PhoneNumber</span>
      <span class="b-ui__details-rtext">@Model.PhoneNumber</span>
    </div>

    <div class="b-ui__details-row__name b-ui__details-row">
      <span class="b-ui__details-ltext">@Logic.Properties.GeneralResources.Skype</span>
      <span class="b-ui__details-rtext">@Model.Skype</span>
    </div>

    <button style="float: left;display: block;width: 100%; margin-top: 5px;" onclick="ShowPaymentSystems(@Model.Id)">Показать платёжные системы</button>
  </div>
</section><!--B: User info-->