@model MLMExchange.Areas.AdminPanel.Models.BankPaymentModel

@if (ViewData["AsPartial"] == null || ViewData["AsPartial"] != "True")
{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.BankPayment;
  Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanel__Layout.cshtml";
}

<section class="b-psg">
  <div class="b-psg__content">
    <div class="b-psg__payment-system-item b-psg__default-system">
      <div class="b-bp">
        <header class="b-bp__header">
          <p class="b-bp__text">@MLMExchange.Properties.ResourcesA.ShowPayment</p>
        </header>
        <table class="b-bp__payment-info">
          <tr class="b-bp__payment-info__row">
            <td>@Logic.Properties.GeneralResources.TransactionNumber:</td>
            <td>@Model.Id</td>
          </tr>
          <tr class="b-bp__payment-info__row">
            <td>Money:</td>
            <td>@Model.RealMoneyAmount</td>
          </tr>
          <tr class="b-bp__payment-info__row">
            <td>@Logic.Properties.GeneralResources.Name</td>
            <td>@Model.Payer.Name</td>
          </tr>
          <tr class="b-bp__payment-info__row">
            <td>@Logic.Properties.GeneralResources.Surname</td>
            <td>@Model.Payer.Surname</td>
          </tr>
          <tr class="b-bp__payment-info__row">
            <td>@Logic.Properties.GeneralResources.CreationDateTime:</td>
            <td>@Model.CreationDateTime.ToLocalTime()</td>
          </tr>
          <tr class="b-bp__payment-info__row">
            <td>@Logic.Properties.GeneralResources.BIK</td>
            <td>@Model.BankPaymentSystemModel.BIK</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section><!--B: Bank payment-->