@using MLMExchange.Lib
@model MLMExchange.Models.ContactMessageModel

@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.Contacts;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb b-sb__type__with-icon contacts-exchange">
  <header class="b-sb__top-section">
    <div class="b-sb__header">
      <div class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.Contacts</h1>
      </div>

      <div class="b-sb__header--content">
      </div>
    </div>

    <aside class="b-sb__icon">
      <i class="all-icon contacts-icon"></i>
    </aside>
    <div class="b-sb__border-top"></div>
  </header>

  <div class="b-sb__content">
    @using (Html.BeginForm("Index", "Contacts", FormMethod.Post, new { @class = "b-f" }))
    {
      <section class="pb-cf">
        <div class="pb-cf__form-fields-wrapper">
          <div class="b-ib pb-cf__field pb-cf__field_name_name input-control text">
            @Html.CustomValidationMessageFor(x => x.UserName)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterName</label>
              @Html.TextBoxFor(x => x.UserName, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterName, @class = "b-ib__input"})
            <button class="btn-clear"></button>
          </div>

          <div class="b-ib pb-cf__field pb-cf__field_name_name input-control text">
            @Html.CustomValidationMessageFor(x => x.Email)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterEmail</label>
            @Html.TextBoxFor(x => x.Email, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterEmail, @class = "b-ib__input" })
            <button class="btn-clear"></button>
          </div>

          <div class="b-ib pb-cf__field pb-cf__field_name_title input-control text">
            @Html.CustomValidationMessageFor(x => x.Title)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterTitle</label>
            @Html.TextBoxFor(x => x.Title, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterTitle, @class = "b-ib__input" })
            <button class="btn-clear"></button>
          </div>

          <div class="b-ib pb-cf__field pb-cf__field_name_text">
            @Html.CustomValidationMessageFor(x => x.Text)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterMessageText</label>

            @(Html.TextAreaFor(x => x.Text, new Dictionary<string, object> { { "placeholder", MLMExchange.Properties.ResourcesA.EnterMessageText }, { @"class", "b-ib__input" } }))
          </div>

          <div class="pb-cf__footer-wrapper">

            <input class="b-button register-button b-button_hover-animate_opacity" type="submit" value=@MLMExchange.Properties.ResourcesA.SendButton />

            <div class="pb-cf__additional-info-wrapper">
              <div class="pb-cf__item">
                <i class="pb-cf__icon pb-cf__icon__email"></i>
                <a href="mailto:notes@my-crypt.com?Subject=Hey, Admin" target="_top"><span class="pb-cf__text text pb-cf__text__clickable">notes@my-crypt.com</span></a>
              </div>

              <div class="pb-cf__item">
                <i class="pb-cf__icon pb-cf__icon__phone"></i>
                <span class="pb-cf__text text">8 800 555 77 39</span>
              </div>

              <div class="pb-cf__item">
                <i class="pb-cf__icon pb-cf__icon__skype"></i>
                <a href="skype:?chat&blob=cR63JTcxJqdi4W4JlT8xzuRG7Vpc6gxTwQa_g0D7fD--yr_AigIzS_XrncDJSO7P4O3VXuetY3TttCqmmbh73TzaIxLInuNNCvAzS_D6XNngim2oYupR6H0AvxlxlVyH8Q"><span class="pb-cf__text text pb-cf__text__clickable">#room1</span></a>
                @*<a href="skype:?chat&blob=4axarD-31YwRcNNWxvilydbf4pLXd7UwQ6YKTkMVJKQB8XrL81FBUV8IryHG9rf--CaBFvKxKk3-OWRnXg"><span class="pb-cf__text text pb-cf__text__clickable">#room2</span></a>
                <a href="skype:?chat&blob=dVwZATK6vaWj1Fht3reqGP_OV8DISU7rPNVi-8Wg9PZGu9XWUyhVA0L2xroUVakV62lq8Jr6HK14mGHxRQ"><span class="pb-cf__text text pb-cf__text__clickable">#room3</span></a>*@
              </div>
              <div class="pb-cf__item">
                <i class="pb-cf__icon pb-cf__icon__google"></i>
                <a href="https://plus.google.com/communities/117618579845158330089" target="_blank"><span class="pb-cf__text text pb-cf__text__clickable">Google+</span></a>
              </div>
              <div class="pb-cf__item">
                <i class="pb-cf__icon pb-cf__icon__odnoklasniki"></i>
                <a href="http://www.odnoklassniki.ru/mycrypto" target="_blank"><span class="pb-cf__text text pb-cf__text__clickable">Одноклассники</span></a>
              </div>
              <div class="pb-cf__item">
                <i class="pb-cf__icon pb-cf__icon__vk"></i>
                <a href="https://vk.com/mycrypto" target="_blank"><span class="pb-cf__text text pb-cf__text__clickable">VK</span></a>
              </div>
            </div>

            <div class="pb-cf__additional-info-vk">
              <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

              <!-- VK Widget -->
              <div id="vk_groups"></div>
              <script type="text/javascript">
                VK.Widgets.Group("vk_groups", { mode: 0, width: "600", height: "200", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6' }, 52752209);
              </script>
            </div>
                   
          </div>
        </div>
      </section><!--pb Contact form-->
    }
  </div>
</section>

