@using MLMExchange.Lib
@model MLMExchange.Models.ContactMessageModel

@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.Contacts;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb b-sb__type__with-icon contacts-exchange">
  <header class="b-sb__top-section">
    <div class="b-sb__header">
      <div class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.Contacts</h1>
      </div>

      <div class="b-sb__header--content">
      </div>
    </div>

    <aside class="b-sb__icon">
      <i class="all-icon contacts-icon"></i>
    </aside>
    <div class="b-sb__border-top"></div>
  </header>

  <div class="b-sb__content">
    @using (Html.BeginForm("Contacts", "Index", FormMethod.Post, new { @class = "b-f" }))
    {
      <section class="pb-cf">
        <div class="pb-cf__form-fields-wrapper">
          <div class="b-ib pb-cf__field pb-cf__field_name_name">
            @Html.CustomValidationMessageFor(x => x.UserName)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterName</label>
            @Html.TextBoxFor(x => x.UserName, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterName, @class = "b-ib__input" })
          </div>

          <div class="b-ib pb-cf__field pb-cf__field_name_title">
            @Html.CustomValidationMessageFor(x => x.Title)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterTitle</label>
            @Html.TextBoxFor(x => x.Title, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterTitle, @class = "b-ib__input" })
          </div>

          <div class="b-ib pb-cf__field pb-cf__field_name_text">
            @Html.CustomValidationMessageFor(x => x.Text)
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterMessageText</label>
            
            @(Html.TextAreaFor(x => x.Text, new Dictionary<string, object> { { "placeholder", MLMExchange.Properties.ResourcesA.EnterMessageText }, { @"class", "b-ib__input" } }))
          </div>

          <div class="pb-cf__footer-wrapper">
            <div class="pb-cf__additional-info-wrapper">
              <div class="pb-cf__item">
                <i class="pb-cf__icon"></i>
                <span class="pb-cf__text text">notes@my-crypt.com</span>
              </div>
            </div>

            <input class="b-button register-button b-button_hover-animate_opacity" type="submit" value=@MLMExchange.Properties.ResourcesA.SendButton />
          </div>
        </div>
      </section><!--pb Contact form-->
    }
  </div>
</section>

