@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.HomePage;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{Logic.SystemSettings systemSettings = Logic.SystemSettings.GetCurrentSestemSettings();}

<script>
  $(function () {
    //Слайдер катировок
    $("#carousel1").carousel({
      height: 300,
      period: 3000,
      duration: 2000,
      markers: {
        show: false
      }
    });

    //Слайдер видео
    $('#carousel-video').carousel({
      auto: false,
      height: 400,
      period: 3000,
      duration: 1000,
      controls: true,
      markers: {
        show: false
      }
    });
  })
</script>

<section class="slider-block">
  <div class="slider-block__rows">
    <div class="slider-block__row">
      <div class="slider-block__cell_max">
        <section class="pb-sb">
          <div class="pb-sb__value-wrapper">
            <div class="pb-sb__icon-wrapper"><i class="pb-sb__icon pb-sb__icon-datetime"></i></div>
            <div class="pb-sb__value-wrapper"><span class="pb-sb__value text">@String.Format("{0:HH:mm}", systemSettings.BaseLogicObject.CreationDateTime)</span></div>
          </div>

          <div class="pb-sb__info-wrapper">
            <span class="pb-sb__additional-info text">Время последнего обновления системных констант</span>
          </div>
        </section>
      </div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_max">
        <section class="pb-sb">
          <div class="pb-sb__value-wrapper">
            <div class="pb-sb__icon-wrapper"><i class="pb-sb__icon pb-sb__icon-quote"></i></div>
            <div class="pb-sb__value-wrapper"><span class="pb-sb__value text">@String.Format("{0} к {1}", "1", systemSettings.LogicObject.Quote)</span></div>
          </div>

          <div class="pb-sb__info-wrapper">
            <span class="pb-sb__additional-info text">
              Котировка - отношение рубля к MY-CRYPT. 
              Пример: 1 : 3 - за один рубль покупатель получит 3 MY-CRYPT; 
              1:10 – за один рубль покупатель получит 10 MY-CRYPT.
            </span>
          </div>
        </section>
      </div>
      <div class="slider-block__cell_min"></div>
    </div>

    <div class="slider-block__row">
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_max">
        <section class="pb-sb">
          <div class="pb-sb__value-wrapper">
            <div class="pb-sb__icon-wrapper"><i class="pb-sb__icon pb-sb__icon-profitprecent"></i></div>
            <div class="pb-sb__value-wrapper"><span class="pb-sb__value text">@String.Format("{0:0}", systemSettings.LogicObject.ProfitPercent)</span></div>
          </div>

          <div class="pb-sb__info-wrapper">
            <span class="pb-sb__additional-info text">
              Процент доходности - процент прибыли от сделки по окончании торговой сессии.
            </span>
          </div>
        </section>
      </div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_min"></div>
    </div>


    <div class="slider-block__row">
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_max">
        <section class="pb-sb">
          <div class="pb-sb__value-wrapper">
            <div class="pb-sb__icon-wrapper"><i class="pb-sb__icon pb-sb__icon-tradingduration"></i></div>
            <div class="pb-sb__value-wrapper"><span class="pb-sb__value text">@String.Format("{0:hh\\:mm}", TimeSpan.FromMinutes((double)systemSettings.LogicObject.TradingSessionDuration))</span></div>
          </div>

          <div class="pb-sb__info-wrapper">
            <span class="pb-sb__additional-info text">
            Длительность торговой сессии – время ожидания закрытия сделки.
            </span>
          </div>
        </section>
      </div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_min"></div>
      <div class="slider-block__cell_max">
        <section class="pb-sb">
          <div class="pb-sb__value-wrapper">
            <div class="pb-sb__icon-wrapper"><i class="pb-sb__icon pb-sb__icon-maxmycryptcount"></i></div>
            <div class="pb-sb__value-wrapper"><span class="pb-sb__value text">@String.Format("{0}", systemSettings.LogicObject.MaxMyCryptCount)</span></div>
          </div>

          <div class="pb-sb__info-wrapper">
            <span class="pb-sb__additional-info text">
              Максимальное количество MY-CRYPT на одну торговую сессию.
            </span>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="carousel" id="carousel1">
    <div class="slide">
      <img src="http://forexaw.com/NEWs/Korporaziya/News_of_large_companies_and_corporations/fimg1942916_goldman_posledstviya_oshibki_birzha.jpg" class="cover1" />
    </div>

    <div class="slide">
      <img src="http://www.hsci.ru/content/news/exchn.jpeg" class="cover1" />
    </div>

    <div class="slide">
      <img src="http://statelinesptgds.com/wp-content/uploads/2014/06/portraits-at-the-stock-exchange-4.jpg" class="cover1" />
    </div>
  </div>
</section>

<section class="b-sb home-block">
  <header class="b-sb__title">
    <h1 class="b-sb__text">О бирже</h1>
  </header>
  <div class="b-sb__content home-block__text">
    <p><span style="font-size: 18px;">Биржа</span> — коммерческое предприятие, которое предоставляет посреднические услуги, 
    где совершаются сделки купли-продажи, со своим Учредительным договором, Правилами.
    </p>
    <div class="home-block__left">
      <i class="home-block__iconWrapper__left home-block__iconWrapper__left_1"></i>
      <p>
        Работая над созданием данного проекта, мы преследовали цель обличить 
        иллюзорность недоступности такого финансового инструмента, как биржа, широкому кругу обывателей
        источник дохода за счет все время растущих долговых.
      </p>
    </div>
    <div class="home-block__right">
      <i class="home-block__iconWrapper__right home-block__iconWrapper__right_2"></i>
      <p>
        Дать понимание того, что следуя определенному алгоритму поведения, 
        любой совершеннолетний гражданин мира в состоянии компенсировать 
        свои расходы и обеспечить себе и своим близким непрерывный 
      </p>
    </div>
    <div class="home-block__left">
      <i class="home-block__iconWrapper__left home-block__iconWrapper__left_3"></i>
      <p>
        Биржа МС должна стать современным инфраструктурным институтом
        национального рынка финансовых инструментов, отвечающим новым стандартам
        организации торгов, эффективной торговой площадкой для
      </p>
    </div>
  </div>
</section>

<section class="additional-info">
  <i class="home-icon"></i>
  <aside class="b-ai home-info balloon right">
    <div class="text b-ai_text">
      <span>Особенности и преимущества работы на бирже:</span>
      <dl class="home-info__listWrapper">
        <dt><span>Осуществляется на специальных торговых площадках</span></dt>
        <dt><span>Ведутся по биржевым товарам, партиям, лотам</span></dt>
        <dt><span>В отсутствии товаров осуществляются по их описанию</span></dt>
        <dt><span>Проводятся регулярно</span></dt>
        <dt><span>Отличаются гласностью</span></dt>
        <dt><span>Характерезуются свободным ценообразованием</span></dt>
        <dt><span>Прямо не регулируются государством</span></dt>
        <dt><span>Ведутся посредниками</span></dt>
        <dt><span>Подчиняются единым правилам по совершению сделок</span></dt>
      </dl>
    </div>
  </aside>
</section>

<section class="tab-block">
  <div class="tab-control" data-role="tab-control">
    <ul class="tabs">
      <li class="active"><a href="#_page_1">Цель</a></li>
      <li><a href="#_page_2">Миссия</a></li>
    </ul>

    <div class="frames">
      <div class="frame" id="_page_1">
        <p>
          <dl class="frame_page_1__content">
            <dt>
              <span class="frame_page_1__content__text">
                Работая над созданием данного проекта, его разработчики поставили для себя цель развеять иллюзию недоступности бирж для широкого круга участников.
              Дать понимание того, что следуя определенному алгоритму поведения, любой дееспособный гражданин имеет возможность компенсировать свои убытки и обеспечить себе непрерывный источник дохода.
              На примере показать, что биржевая торговля, вопреки навязанным стереотипам, может приносить участнику только прибыль.
              Целью также стало создание народной биржи безубыточной торговли, где пассивы всех ее участников превратятся в их активы.
              </span>
            </dt>
          </dl>
        </p>
      </div>
      <div class="frame" id="_page_2">
        <p>
          <dl class="frame_page_2__content">

            <dt><span>Предоставить любому человеку, не обладающему специальными знаниями и опытом, возможность регулярного пополнения своего кошелька через совершение несложных операций на Бирже МС</span></dt>

            <dt><span>Помочь всем желающим избавиться от дефицита денежных средств, повысив тем самым качество  жизни</span></dt>

            <dt><span>Быть  стабильной,  успешной  и  динамично  развивающейся организацией, удовлетворяющей интересы и потребности своих клиентов</span></dt>

            <dt><span>Сделать сложный финансовый мир проще и доступнее</span></dt>

          </dl>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="b-videos">
  <div class="b-videos__video-wrapper">
    @*<iframe class="b-videos__video" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>

    <div class="b-videos__additional-info">
      <span class="b-videos__text text"><i>Lorem ipsum dolor</i></span>
    </div>*@

    <div class="carousel" id="carousel-video">
      <div class="slide">
        <iframe class="b-videos__video" src="http://www.youtube.com/embed/HTvYuGWeKbE"></iframe>
      </div>

      <div class="slide">
        <iframe class="b-videos__video" src="http://www.youtube.com/embed/jsqjnV6Nit8"></iframe>
      </div>

      <a class="controls left b-videos__video__controls-left"><i class="icon-arrow-left"></i></a>
      <a class="controls right b-videos__video__controls-right"><i class="icon-arrow-right"></i></a>
    </div>  

   </div>
</section>
