@using MLMExchange.Lib
@model MLMExchange.Models.Registration.UserModel

@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.Registration;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb registration-block">
  <header class="b-sb__title">
    <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.UserRegistartion</h1>
  </header>

  <div class="b-sb__content registration-form" id="registration-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "b-f" }))
    {
      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.Login)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterLogin</label>
        @Html.TextBoxFor(x => x.Login, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterLogin, @class = "b-ib__input" })
      </div>

      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.Password)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterPassword</label>
        @Html.PasswordFor(x => x.Password, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterPassword, @class = "b-ib__input" })
      </div>

      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.PasswordConfirmation)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterPasswordConfirmation</label>
        @Html.PasswordFor(x => x.PasswordConfirmation, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterPasswordConfirmation, @class = "b-ib__input" })
      </div>

      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.Name)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterName</label>
        @Html.TextBoxFor(x => x.Name, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterName, @class = "b-ib__input" })
      </div>

      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.Surname)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterSurname</label>
        @Html.TextBoxFor(x => x.Surname, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterSurname, @class = "b-ib__input" })
      </div>

      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.Patronymic)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterPatronymic</label>
        @Html.TextBoxFor(x => x.Patronymic, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterPatronymic, @class = "b-ib__input" })
      </div>

      <div class="b-ib">
        @Html.CustomValidationMessageFor(x => x.Email)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterEmail</label>
        @Html.TextBoxFor(x => x.Email, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterEmail, @class = "b-ib__input" })
      </div>

      <div class="b-ib b-ib_content_photo">
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.AddPhoto</label>
        @Html.TextBoxFor(x => x.Photo, new { type = "file", placeholder = @MLMExchange.Properties.ResourcesA.AddPhoto, @class = "b-ib__input b-ib_choose-file" })

        <i class="b-ib__file-preview"><img class="b-ib__image" src="" /></i>
        <input class="b-button b-button_hover-animate_opacity b-ib_file-chooser" type="button" title="@MLMExchange.Properties.ResourcesA.Upload" value="@MLMExchange.Properties.ResourcesA.Upload" />
      </div>

      <input class="b-button register-button b-button_hover-animate_opacity" type="submit" value=@MLMExchange.Properties.ResourcesA.Register />
    }
  </div>
</section>

<section class="additional-info">
  <i class="registration-icon"></i>

  <article class="b-ai register-info balloon right">
    <div class="text b-ai_text">
      Cras eget scelerisque libero,
      sit amet consequat lectus. Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit
    </div>
  </article>
</section>
