@using MLMExchange.Lib
@model MLMExchange.Models.Registration.UserModel

@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.Registration;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
  var randomWords = MLMExchange.Lib.EntityLogic.Logic__RandomWords.GetRandomWord();
}

<section class="b-sb registration-block">
  <header class="b-sb__title">
    <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.UserRegistartion</h1>
  </header>

  <div class="b-sb__content registration-form" id="registration-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "b-f" }))
    {
      @Html.Partial("~/Views/Shared/Account/_EditUser.cshtml", Model, new ViewDataDictionary { { "Usage", "Register" } })

      <input class="b-button register-button b-button_hover-animate_opacity" type="submit" value=@MLMExchange.Properties.ResourcesA.Register />
    }
  </div>
</section>

<section class="additional-info">
  <i class="registration-icon"></i>

  <article class="b-ai register-info balloon right">
    <div class="text b-ai_text b-rw">
      <i class="b-rw__icon"></i>
      <p>@randomWords.Text</p>
      <p><span class="b-rw__author">@randomWords.Author</span></p>
    </div>
  </article>
</section>
