@using MLMExchange.Lib
@model MLMExchange.Areas.AdminPanel.Models.User.BiddingParticipateApplicationModel

<section class="pb-bpa b-ab">
  <header class="b-ab__title"><i class="b-ab__icon fa fa-tasks"></i>@MLMExchange.Properties.ResourcesA.ApplyBiddingParticipateApplication</header>

  <div class="b-ab__content">
    @using (Html.BeginForm("BiddingParticipateApplicationApply", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "b-f" }))
    {
      <div class="b-ib input-control text">
        @Html.CustomValidationMessageFor(x => x.MyCryptCount)

        <div class="b-ib__content-wrapper">
          <div class="b-ib__info-helper" data-ot="@MLMExchange.Properties.ResourcesA.MyCryptNumber" data-ot-style="BlackStyle">
            <i class="b-ib__info-icon fa fa-question"></i>
          </div>

          <div class="b-ib__input-content">
            <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.MyCryptNumber</label>
            @Html.TextBoxFor(x => x.MyCryptCount, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.MyCryptNumber, @class = "b-ib__input b-ib__input_type_blue" })
            <button class="btn-clear"></button>
          </div>
        </div>
      </div>

      <input style="position: absolute; visibility: hidden;" id="pb-bpa__submit-btn"
             class="b-button b-button_color_green-sea register-button b-button_hover-animate_opacity pb-button_size-admin-default" type="submit" value=@MLMExchange.Properties.ResourcesA.ApplyButton />

      <div class="pb-bpa__submit-btn-wrappper">
        <a href="#" class="b-btn b-btn-flat-action pb-bpa__submit-btn" onclick="javascript: $('#pb-bpa__submit-btn').click();">
          <i class="fa fa-sign-out fa-lg"></i>
          @MLMExchange.Properties.ResourcesA.ApplyButton
        </a>
      </div>

      <div class="b-text pb-bpa__remaning-applications">@(String.Format(MLMExchange.Properties.ResourcesA.RemaningApplication, 1))<i class="b-bpa__icon fa fa-search"></i></div>
    }
  </div>
</section><!--B: Bindding participate application-->