@using MLMExchange.Lib
@model MLMExchange.Models.Registration.LoginModel

@{ViewData.ModelState.Clear();}

<div class="login-section">
  <div class="login-area-arrow"></div>
  
  <div class="login-enter-area">
    @using (Html.BeginForm("Login", "Account"))
    {
      <div class="b-ib input-group input-control text">
        @Html.CustomValidationMessageFor(x => x.Login)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterLogin</label>
        @Html.TextBoxFor(x => x.Login, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterLogin, @class = "b-ib__input" })
        <button class="btn-clear"></button>
      </div>

      <div class="b-ib input-group">
        @Html.CustomValidationMessageFor(x => x.Password)
        <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterPassword</label>
        @Html.PasswordFor(x => x.Password, new { placeholder = @MLMExchange.Properties.ResourcesA.EnterPassword, @class = "b-ib__input" })
      </div>

      <input class="b-button b-button_hover-animate_opacity register-button" type="submit" value="@MLMExchange.Properties.ResourcesA.EnterButton" />
    }
  </div>
</div>
