@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>_MainLayout</title>

  <!--Инициализация HTML5 элементов для IE (версия ниже 9)-->
  <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/html5shiv-printshiv.min.js"></script>
  <![endif]-->

  <script src="~/Scripts/jquery-2.0.3.min.js"></script>

  <!--MS unobstractive validation-->
  <script src="~/Scripts/jquery.validate.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

  <link href="~/Content/stylesheets/screen.css" rel="stylesheet" />
  @(new MLMExchange.Helpers.GetViewStyle(ViewContext).RenderPrivateStyle())
</head>
<body>
  <div class="main-wrapper">

    <header class="main-header">
      <div class="main-header-top">
        <nav class="buttons">
          <a class="b-button about-us" title="@MLMExchange.Properties.ResourcesA.AboutUs">
            <div class="text">@MLMExchange.Properties.ResourcesA.AboutUs</div>
          </a>
          <a class="b-button faq" title="@MLMExchange.Properties.ResourcesA.FAQ">
            <div class="text">FAQ</div>
          </a>
          <a class="b-button contacts" title="@MLMExchange.Properties.ResourcesA.Contacts">
            <div class="text">@MLMExchange.Properties.ResourcesA.Contacts</div>
          </a>
        </nav>

        <div class="main-registration-block">
          <div class="b-button enter-button"><div class="text">@MLMExchange.Properties.ResourcesA.Enter</div></div>

          <div class="b-button register-button"><div class="text">@MLMExchange.Properties.ResourcesA.Registration</div></div>
        </div>
      </div>
    </header>

      <nav class="main-top-menu">
          <a class="b-button birga-link"><div class="text">Пункт меню</div></a>
          <a class="b-button birga-link"><div class="text">Пункт меню</div></a>
          <a class="b-button birga-link"><div class="text">Пункт меню</div></a>
          <a class="b-button birga-link"><div class="text">Пункт меню</div></a>
      </nav>

    <section class="main-changeble-content">
      @RenderBody()
    </section>


    <footer class="main-footer">

    </footer>    
  </div>
</body>
</html>
