<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>

  <!--#region meta-теги-->
  <meta name="description" content="Первая биржа долговых обязательств МС">
  <meta name="keywords" content="Первая биржа долговых обязательств МС, МС, биржа МС, биржа, долги, обязательства, высокий доход, быстрый доход, инвестиции, высокие проценты, %, первая, первый, деньги, прибыль, покупатель, продавац, трейдер,на бирже, фондовая биржа, биржа работ, для биржа, товарная биржа, валютная биржа, какие биржи, с биржи, на фондовой бирже, биржа курс, биржа торги, биржа акций, лондонская биржа, биржа спб, московская биржа, биржа москвы, москва биржа, петербург биржа, биржа торговли, биржа санкт петербург, биржи россии, биржа цены, работа +на бирже, биржа +это, торги +на бирже, биржа онлайн, официальный сайт биржа, официальный сайт биржа мс,предложение, спрос, действие, деятельность, поведение, потребности, фирма, дефлятор, индекс цен, деловое предложение, ценовая политика, сбыт, валютная биржа, товарная биржа, фондовая биржа, спрос +и предложение, спрос +на товары, куплю, объявление +о покупке, кривая предложения, кривая спроса, функция спроса, конкуренция, валюта, классификация рынков, рыночный механизм, структура рынка, функции рынка, закон спроса +и предложения, эластичность спроса +и предложения, рыночное равновесие, эластичность, рынок +это, товар +это, цена +это, трансакционные издержки, транзакционные издержки, эластичность предложения, эластичность спроса, эластичный спрос, словарь, слова, предложение, смотреть онлайн">
  <!--#endregion-->

  <!--#region share-иконоки pluso-->
  <meta property="og:title" content="MyCrypt Биржа" />
  <meta property="og:description" content="Биржа – это организационный, постоянно функционирующий по определенным правилам, оптовый рынок однородных товаров по ценам, официально установленным на основе спроса и предложения." />
  <meta property="og:url" content="@String.Format("{0}{1}", @Request.Url.GetLeftPart(UriPartial.Authority), "/")" />
  <meta property="og:image" content="/Content/images/images/LogoForShareIcons.png" />
  <meta name="title" content="MyCrypt Биржа" />
  <meta name="description" content="Биржа – это организационный, постоянно функционирующий по определенным правилам, оптовый рынок однородных товаров по ценам, официально установленным на основе спроса и предложения." />
  <link rel="image_src" href="/Content/images/images/LogoForShareIcons.png" />
  <!--#endregion-->
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d2a1901faef525"></script>


  <link rel="shortcut icon" href="/Content/images/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/Content/images/images/favicon.ico" type="image/x-icon" />

  <!--Инициализация HTML5 элементов для IE (версия ниже 9)-->
  @if (Context.Request.Browser.Type.Contains("IE") || Context.Request.Browser.Type.Contains("InternetExplorer"))
  {
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/html5shiv-printshiv.min.js"></script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
  }

  @if (!Context.Request.Browser.Type.Contains("IE") && !Context.Request.Browser.Type.Contains("InternetExplorer"))
  {
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>

    <!--Т.к. может затерется JQuery из requirejs-->
    <script>
      window.$Sync = $;
    </script>
  }

  <!--MS unobstractive validation-->
  <!--#region JQuery.Validation-->
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
  <script src="~/Scripts/Lib/JQuery.Validation/Boolean.Extension.ValidationAdapter.js"></script>
  <!--#endregion-->
  <script src="~/Scripts/require.js"></script>
  <!--Стоит отдельно от require.js, т.к. нужна синхронная загрузка-->
  <script src="~/Scripts/Framework/RequireJs/config.js"></script>
  <script src="~/Content/MetroUICSS/min/jquery.widjet.min.js"></script>
  <script src="~/Content/MetroUICSS/min/metro.min.js"></script>
  <script src="~/bower_components/Buttons/js/buttons.js"></script>
  <!--#region ICheck. Jquery plugin for checkboxes, options and so on-->
  <script src="~/bower_components/jquery-icheck/icheck.min.js"></script>
  <script>
    $(function () {
      $("input[type='checkbox']").not("[data-icheck='true']").css({ "position": "absolute", "top": "0", "left": "0", "visibility": "hidden" });

      $('input[data-icheck="true"]').iCheck({
        labelHover: false,
        cursor: true,
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'icheckbox_square-green',
        increaseArea: '20%'
      }).on("ifChanged", function (event) {
        $(event.currentTarget).closest(".b-ib").find(".b-ib_checkbox").click();
      });
    });
  </script>
  <!--#endregion-->
  <!--#region Open tool tip-->
  <script src="~/bower_components/opentip/downloads/opentip-jquery.min.js"></script>
  <script>
    Opentip.styles.BlackStyle = {
      extends: "dark",
      fixed: true
    };
  </script>
  <!--#endregion-->
  <!--#region jquery.maskedinput-->
  <script src="~/bower_components/jquery.maskedinput/jquery.maskedinput.min.js"></script>
  <script>
    $.mask.definitions['s'] = "[0-9 _]";
  </script>
  <!--#endregion-->

  <!--#region lightbox-->
  <script src="~/bower_components/lightbox/js/lightbox.min.js"></script>
  <link href="~/bower_components/lightbox/css/lightbox.css" rel="stylesheet" />
  <!--#endregion-->

  <link href="~/Content/MetroUICSS/min/metro-bootstrap.min.css" rel="stylesheet" />
  <link href="~/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="~/bower_components/Buttons/css/buttons.css" rel="stylesheet" />
  <link href="~/Content/stylesheets/screen.css" rel="stylesheet" />
  <link href="~/bower_components/opentip/css/opentip.css" rel="stylesheet" />
  <link href="~/bower_components/jquery-icheck/skins/square/green.css" rel="stylesheet" />
  @(new MLMExchange.Lib.ViewStyle(ViewContext).RenderPrivatePageStyle())

  @if (Context.Request.Browser.Type.Contains("IE") || Context.Request.Browser.Type.Contains("InternetExplorer"))
  {
    <link href="~/Content/stylesheets/IE_lt_9.css" rel="stylesheet" />
  }
</head>

<!--class metro is require for metro ui-->
<body class="metro b-a">
  <!--#region Дефолтные параметры для формы-->
  <script type="text/javascript">
    require(["jquery", "Lib/Form"], function ($, formModule) {
      $(function () {
        $.each($("form"), function (index, form) {
          new formModule.Form($(form)).ApplyDefaults();
        });
      });
    });
  </script>
  <!--#endregion-->
  <!--#region Скроллинг вверх-->
  <script>
    $(function () {
      requirejs(["Lib/Scroll"], function (Scroll) {
        $("#b-scroll").scrollTopNow();
      });
    });
  </script>
  <!--#endregion-->

  <script>
    require(["jquery", "Lib/LoginForm"], function ($, module) {
      $(function () {
        new module.LoginForm($("#MainLayout__LoginForm"), $("#MainLayout__ResetPasswordForm"));
      });
    });
  </script>

  <a href="#top" id="b-scroll"></a>
  @if (ViewBag.isTestBuild)
  {
    <div class="b-fn">
      <div class="b-fn__header"><h1 class="b-fn__header-content">Test Build</h1></div>
      <div class="b-fn__content">
        <p class="b-fn__content-text"><span>До запуска осталось</span></p>
        <p class="b-fn__content-text"><span class="b-fn__content--counter">@ViewBag.PeopleCounter</span> человек</p>
      </div>
    </div>
  }

  <div class="main-wrapper">

    <section class="main-changable-content clearfix">
      <header class="main-header">
        <div class="main-header-top">
          <nav class="buttons">
            <a class="b-button b-button_color_light-blue b-button_hover-animate_border-bottom logo" href="/" title="@MLMExchange.Properties.ResourcesA.Logo">
              <i class="pb-icon"></i>
            </a>
            <a class="b-button b-button_color_light-blue b-button_hover-animate_border-bottom faq" href="/AdminPanel/User/ControlPanel" title="@MLMExchange.Properties.ResourcesA.MyCryptPage">
              <div class="pb-text">@MLMExchange.Properties.ResourcesA.Exchange</div>
            </a>
            <a class="b-button b-button_color_normal-blue b-button_hover-animate_border-bottom contacts" href="/Contacts" title="@MLMExchange.Properties.ResourcesA.Contacts">
              <div class="pb-text">@MLMExchange.Properties.ResourcesA.Contacts</div>
            </a>
          </nav>

          <div class="main-registration-block">
            @if (MLMExchange.Lib.CurrentSession.Default.CurrentUser == null)
            {
              <div class="b-button b-button_hover-animate_border-bottom enter-button">
                <div class="pb-text">@MLMExchange.Properties.ResourcesA.Enter</div>
                
                <div class="login-section">
                  <div class="login-area-arrow"></div>

                  <div class="login-enter-area">
                    <div id="MainLayout__LoginForm">
                      @Html.Partial("_LoginForm", (MLMExchange.Models.Registration.LoginModel)ViewBag.LoginModel)
                    </div>

                    <div id="MainLayout__ResetPasswordForm" style="display: none;">
                      @Html.Partial("_ResetPasswordForm", (MLMExchange.Models.Registration.ResetPasswordModel)ViewBag.ResetPasswordModel)
                    </div>
                  </div>

                </div>
              </div>

              <a href="/Account/Register">
                <div class="b-button b-button_hover-animate_border-bottom register-button">
                  <div class="pb-text">@MLMExchange.Properties.ResourcesA.Registration</div>
                </div>
              </a>
            }
            else
            {
              <div class="login-on-block">
                @if (String.IsNullOrEmpty(MLMExchange.Lib.CurrentSession.Default.CurrentUser.PhotoRelativePath))
                {
                  <img src="/Content/images/Form/@(new MLMExchange.Lib.Image.Image("Content/images/Form/", "anonymous-user.png").Crop(52, 52).FullName)" class="login-on-block__avatar" alt="Alternate Text" />
                  @*<img src="/Content/images/Form/anonymous-user_52X44.png" class="login-on-block__avatar" alt="Alternate Text" />*@
                }
                else
                {
                  <img src="/@MLMExchange.Lib.Image.Image.UploadRelativeDir/@(new MLMExchange.Lib.Image.Image(MLMExchange.Lib.CurrentSession.Default.CurrentUser.PhotoRelativePath).Crop(52, 52).FullName)"
                       class="login-on-block__avatar" alt="Alternate Text" />
                }
                <div class="login-on-block__nickname">@MLMExchange.Lib.CurrentSession.Default.CurrentUser.Surname @MLMExchange.Lib.CurrentSession.Default.CurrentUser.Name @MLMExchange.Lib.CurrentSession.Default.CurrentUser.Patronymic</div>
                <a href="/account/logout"><div class="login-on-block__exit"></div></a>
                @if (((Logic.User)MLMExchange.Lib.CurrentSession.Default.CurrentUser).IsAdministratorRoleExsists())
                {
                  <div class="login-on-block__adminMode">@MLMExchange.Properties.ResourcesA.AdministartorMode</div>
                }
              </div>
            }
          </div>
        </div>
      </header>

      <hr class="b-hr" />

      @RenderBody()
    </section>

    <div class="main-footer">
      <div class="sosial-buttons__outer-wrapper">
        <div class="sosial-buttons__inner-wrapper">
            <div class="b-button b-button_color_light-grey b-button_hover-animate_border-bottom sosial-button"><i class="icon twitter"></i></div>
            <div class="b-button b-button_color_light-grey b-button_hover-animate_border-bottom sosial-button"><i class="icon facebook"></i></div>
            <a href="https://vk.com/mycrypto" class="b-button b-button_color_light-grey b-button_hover-animate_border-bottom sosial-button sosial-button_location_last" target="_blank"><i class="icon vkontakte"></i></a>
            <a href="http://www.odnoklassniki.ru/mycrypto" class="b-button b-button_color_light-grey b-button_hover-animate_border-bottom sosial-button sosial-button_location_last" target="_blank"><i class="icon odnoklasniki"></i></a>
            <a href="https://plus.google.com/communities/117618579845158330089" class="b-button b-button_color_light-grey b-button_hover-animate_border-bottom sosial-button sosial-button_location_last" target="_blank"><i class="icon googleplus"></i></a>
          </div>

        @*<script type="text/javascript">
          (function () {
            if (window.pluso) if (typeof window.pluso.start == "function") return;
            if (window.ifpluso == undefined) {
              window.ifpluso = 1;
              var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
              s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
              s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
              var h = d[g]('body')[0];
              h.appendChild(s);
            }
          })();
        </script>
        <div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email"></div>*@

      </div>

      <hr class="b-hr" />
      <nav class="buttons">
        <div class="b-button b-button_action_no-active b-button_hover-animate_border-bottom">
          <a href="/About">
            <i class="b-icon home"></i>
            <div class="b-text">
              @MLMExchange.Properties.ResourcesA.AboutUs
            </div>
          </a>
        </div>
        <div class="b-button b-button_action_no-active b-button_hover-animate_border-bottom">
          <a href="/MyCrypt">
            <i class="b-icon mycrypt"></i>
            <div class="b-text">
              @MLMExchange.Properties.ResourcesA.MyCryptPage
            </div>
          </a>
        </div>
        <div class="b-button b-button_action_no-active b-button_hover-animate_border-bottom">
          <a href="/Copyright">
            <i class="b-icon copyright"></i>
            <div class="b-text">
              @MLMExchange.Properties.ResourcesA.Recommendations
            </div>
          </a>
        </div>
        <div class="b-button b-button_action_no-active b-button_hover-animate_border-bottom">
          <a href="/FAQ">
            <i class="b-icon faq"></i>
            <div class="b-text">
              @MLMExchange.Properties.ResourcesA.FAQ
            </div>
          </a>
        </div>
        <div class="b-button b-button_action_no-active b-button_hover-animate_border-bottom ie8-last-child">
          <a href="/Contacts">
            <i class="b-icon contacts"></i>
            <div class="b-text">
              @MLMExchange.Properties.ResourcesA.Contacts
            </div>
          </a>
        </div>
      </nav>
    </div>
  </div>
</body>
</html>
