@using MLMExchange.Lib
@model MLMExchange.Models.Registration.ResetPasswordModel

@{ViewData.ModelState.Clear();}


@using (Html.BeginForm("ResetPassword", "Account"))
{
  <div class="b-ib input-group input-control text">
    @Html.CustomValidationMessageFor(x => x.Email)
    <label class="b-ib__label">@MLMExchange.Properties.ResourcesA.EnterEmail</label>
    @Html.TextBoxFor(x => x.Email, new { type = "text", placeholder = @MLMExchange.Properties.ResourcesA.EnterEmail, @class = "b-ib__input" })
    <button class="btn-clear"></button>
  </div>

  <div class="b-ib input-group b-ib__swapper">
    <span class="b-ib__swapper__button">@MLMExchange.Properties.PrivateResource.ResetPasswordClickButton__Out</span>
  </div>

  <input class="b-button b-button_hover-animate_opacity register-button" type="submit" value="@MLMExchange.Properties.ResourcesA.SendButton" />
}
