@using Ext.Net
@using Ext.Net.MVC

@{
  ViewBag.Title = "_AdminPanel__Layout";
  Layout = "~/Views/Shared/_MainLayout.cshtml";
  var X = Html.X();
}

@Html.X().ResourceManager()

@helper MainMenu__InnerContent()
{
  <div class="pb-mm">
    <a href="@Url.Action("Edit")">
      <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_user-info">
        <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon"></i></div>

        <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.UserInfo_Short</span>
      </nav>
    </a>

    <a href="@Url.Action("AddMyCrypt")">
      <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_add-my-crypt">
        <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon"></i></div>

        <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.AddMyCrypt</span>
      </nav>
    </a>

    <a href="@Url.Action("ControlPanel")">
      <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_control-panel">
        <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon"></i></div>

        <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.ControlPanel</span>
      </nav>
    </a>

    <a href="@Url.Action("SalesPeople")">
      <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_sales-people">
        <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon"></i></div>

        <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.SalesPeople</span>
      </nav>
    </a>
  </div>
}

<section class="pb-admin-panel" id="pb-admin-panel__ID">
  @(X.Container().Layout(LayoutType.Border).Height(800).Items(
      X.Panel().ID("MainLeft_Menu").MinHeight(600).Region(Region.West).Width(236).Collapsible(true).CollapseMode(CollapseMode.Default)
        .HeaderConfig(X.PanelHeader().Height(74).Title(MLMExchange.Properties.ResourcesA.MainMenu__Header)).Content(x => MainMenu__InnerContent()),
        (ViewData["AdminPanel__CenterBlock"] as Panel.Builder).Content(x => RenderBody())
          ).RenderTo("pb-admin-panel__ID"))
</section>
