@using Ext.Net
@using Ext.Net.MVC

@{  
  Layout = "~/Views/Shared/_MainLayout.cshtml";
  var X = Html.X();
}

@Html.X().ResourceManager()

<script>
  $(function () {
    requirejs(["Lib/Menu/AdminMainMenu"], function (adminMainMenu) {
      var adminMainMenu = new adminMainMenu.AdminMainMenu($(".pb-mm"));

      adminMainMenu.SelectMenuItem();
    });
  });
</script>

@helper MainMenu__InnerContent()
{
  <div class="pb-mm">
    @if (((Logic.User)MLMExchange.Lib.CurrentSession.Default.CurrentUser).IsAdministratorRoleExsists())
    {
      <a href="@Url.Action("UnApprovedTransactionList", "AddMyCryptTransaction", new { area = "AdminPanel" })">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_add-my-crypt-transaction">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__mycryptTransaction"></i></div>

          <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.AddMyCrypt</span>
        </nav>
      </a>
      
      <a href="@Url.Action("Edit", "SystemSettings", new { area = "AdminPanel" })">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_system-settings-edit">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__systemSettings"></i></div>

          <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.SystemSettings</span>
        </nav>
      </a>
    }
    else
    { 
      <a href="@Url.Action("Edit", "User")">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_user-info">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__userinfo"></i></div>

          <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.UserInfo_Short</span>
        </nav>
      </a>

      <a href="@Url.Action("Browse", "PaymentSystemGroup")">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_payment-system-select">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__browse"></i></div>

          <span class="pb-mm__text-wrapper">@Logic.Properties.GeneralResources.PaymentSystems</span>
        </nav>
      </a>

      <a href="@Url.Action("AddMyCrypt", "User")">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_add-my-crypt">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__addmycrypt"></i></div>

          <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.AddMyCrypt</span>
        </nav>
      </a>

      <a href="@Url.Action("ControlPanel", "User")">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_control-panel">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__controlpanel"></i></div>

          <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.ControlPanel</span>
        </nav>
      </a>

      <a href="@Url.Action("SalesPeople", "User")">
        <nav class="pb-mm__menu-item-wrapper pb-mm__menu-item-wrapper_to_sales-people">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon pb-mm__icon__salespeople"></i></div>

          <span class="pb-mm__text-wrapper">@MLMExchange.Properties.ResourcesA.SalesPeople</span>
        </nav>
      </a>
    }
  </div>
}

<section class="pb-admin-panel" id="pb-admin-panel__ID">
  @(X.Container().Layout(LayoutType.Border).Items(
      X.Panel().ID("MainLeft_Menu").MinHeight(600).Region(Region.West).Width(236).Collapsible(true).CollapseMode(CollapseMode.Default)
        .HeaderConfig(X.PanelHeader().Height(74).Title(MLMExchange.Properties.ResourcesA.MainMenu__Header)).Content(x => MainMenu__InnerContent()),
        (ViewData["AdminPanel__CenterBlock"] as Panel.Builder).Content(x => RenderBody())
          ).RenderTo("pb-admin-panel__ID"))
  
  <script>
    
  </script>
</section>
